# IBM Cloud / watsonx
IBM_CLOUD_API_KEY=
IBM_CLOUD_REGION=
IBM_CLOUD_RESOURCE_GROUP=

# watsonx.ai
WATSONX_PROJECT_ID=
WATSONX_URL=
WATSONX_API_KEY=
WATSONX_VISION_MODEL_ID=

# watson Speech to Text
SPEECH_TO_TEXT_API_KEY=
SPEECH_TO_TEXT_URL=
SPEECH_TO_TEXT_MODEL=en-AU

# IBM Cloud Object Storage
COS_ENDPOINT=
COS_BUCKET_NAME=
COS_INSTANCE_CRN=

# watsonx Orchestrate
WATSONX_ORCHESTRATE_URL=

# Application
APP_ENV=development